#face-tracker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;]
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body>[class*='controlPanel'] {
  max-width: 40%;
  opacity: 0.9;
}
